
/* changes to global variables */
body {
    --p-spacing: 0.5rem;
    --p-spacing-empty: 0.5rem;
    --heading-spacing: 0;
    --list-edit-offset: 0;

    /* heading top spacing (tweak per level) */
    --h1-top-spacing: calc(var(--p-spacing-empty) * 2.5);
    --h2-top-spacing: calc(var(--p-spacing-empty) * 4);
    --h3-top-spacing: calc(var(--p-spacing-empty) * 2.5);
    --h4-top-spacing: calc(var(--p-spacing-empty) * 1);
    --h5-top-spacing: var(--p-spacing-empty);
    --h6-top-spacing: var(--p-spacing-empty);
}

/* -------------------------- */
/* edit mode (preview) tweaks */
/* -------------------------- */

/* Spacing before all headings */
.cm-s-obsidian .cm-line.HyperMD-header {
    padding-top: var(--h3-top-spacing);
    padding-bottom: 0 !important;
}

/* Larger spacing per heading level */
.cm-s-obsidian .cm-line.HyperMD-header-1 { padding-top: var(--h1-top-spacing) !important; }
.cm-s-obsidian .cm-line.HyperMD-header-2 { padding-top: var(--h2-top-spacing) !important; }
.cm-s-obsidian .cm-line.HyperMD-header-3 { padding-top: var(--h3-top-spacing) !important; }
.cm-s-obsidian .cm-line.HyperMD-header-4 { padding-top: var(--h4-top-spacing) !important; }
.cm-s-obsidian .cm-line.HyperMD-header-5 { padding-top: var(--h5-top-spacing) !important; }
.cm-s-obsidian .cm-line.HyperMD-header-6 { padding-top: var(--h6-top-spacing) !important; }

/* Margin between H1 and its divider */
.h1-l .markdown-reading-view h1:not(.embedded-note-title),
.h1-l .mod-cm6 .cm-editor .HyperMD-header-1,
.h1-l .print h1:not(.embedded-note-title) {
    padding-bottom: calc(var(--p-spacing-empty)*0.8) !important;
    border-bottom: 2.5px solid var(--h1l); /* thicker divider */
}

/* Spacing before First lines of lists */
.is-live-preview .cm-line:not(.HyperMD-list-line) + 
.cm-line.HyperMD-list-line {
    padding-top: var(--p-spacing-empty);
}

/* ---------------- */
/* read mode tweaks */
/* ---------------- */

/* Spacing of headings except for H1 */
.markdown-rendered :is(h2, h3, h4, h5, h6) {
    margin-block-end: 0.0rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0.0rem !important;
}

/* Spacing of H1 */
.markdown-rendered :is(h1) {
    margin-block-end: 0.0rem !important;
    padding-top: 0rem !important;
    padding-bottom: calc(var(--p-spacing-empty)/2) !important; /* spacing above divider */
}

/* Top spacing per heading level (read mode) */
.markdown-rendered h1 { margin-block-start: var(--h1-top-spacing) !important; }
.markdown-rendered h2 { margin-block-start: var(--h2-top-spacing) !important; }
.markdown-rendered h3 { margin-block-start: var(--h3-top-spacing) !important; }
.markdown-rendered h4 { margin-block-start: var(--h4-top-spacing) !important; }
.markdown-rendered h5 { margin-block-start: var(--h5-top-spacing) !important; }
.markdown-rendered h6 { margin-block-start: var(--h6-top-spacing) !important; }
